:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --outline-width: 0px;
}

.custom-scroll #cards {
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

.custom-scroll #card_1 {
  --index: 1;
}

.custom-scroll #card_2 {
  --index: 2;
  margin-left: 2em;
}

.custom-scroll #card_3 {
  --index: 3;
  margin-left: -2em;
}

.custom-scroll #card_4 {
  --index: 4;
  margin-left: 1em;
}

.custom-scroll .card {
  position: sticky;
  top: 1em;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.custom-scroll #cards {
  list-style: none;
}

.custom-scroll .card__content {
  background: none;
  color: rgb(10, 5, 7);
  overflow: hidden;
  display: grid;
  grid-template-areas: "img text";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  outline: var(--outline-width) solid blue;
}

.custom-scroll .card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}

.custom-scroll .card__content > figure {
  grid-area: img;
  overflow: hidden;
}

.custom-scroll .card__content > figure > img {
  width: 33.5em;
  height: 37.5em;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .custom-scroll #cards {
    display: none;
  }
  .custom-scroll .card__content {
    background-color: aqua;
    grid-template-columns: reverse;
  }
}
